# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

cmake-build-debug/

VC9/.vs/

VC9/Backup/

*.filters

*.user

*.recipe

*.log

*.sbr

*.lastbuildstate

*.tlog

*.bsc

*.htm

VC9/BasicTest/x64/Release - DLL/BasicTest.vcxproj.FileListAbsolute.txt

VC9/CUnit-Memory-Dump.xml

VC9/Debug - Static Lib with MEMTRACE/AutomatedTest.vcxproj.FileListAbsolute.txt

VC9/Debug - Static Lib with MEMTRACE/BasicTest.vcxproj.FileListAbsolute.txt

VC9/Debug - Static Lib with MEMTRACE/ConsoleTest.vcxproj.FileListAbsolute.txt

VC9/Debug - Static Lib with MEMTRACE/libcunit.vcxproj.FileListAbsolute.txt

VC9/Debug - Static Lib with MEMTRACE/test_cunit.vcxproj.FileListAbsolute.txt

VC9/libcunit/x64/Release - DLL/libcunit.vcxproj.FileListAbsolute.txt

VC9/test_cunit/x64/Release - DLL/test_cunit.vcxproj.FileListAbsolute.txt
